<body class="body-newuser">
  <div class="container-fluid">
  <div class="row">
      <div class="col-md-3 col-xs-1"></div>
      <div class="col-md-6 col-xs-10">
        <form method="post" class="form-newuser">
          <fieldset class="fieldset-newuser">
            <h3 class="titulo-newuser">Crear cuenta</h3>
            <br/>
            <input type="text" name="name" placeholder="Nombre"></input>
            <br/> <br/>
            <input type="password" name="Apellido" value="" placeholder="Apellido"></input>
            <br/> <br/>
            <input type="text" name="username" value="" placeholder="Nombre de usuario"></input>
            <br/> <br/>
            <input type="text" name="pass" value="" placeholder="Contraseña"></input>
            <br/> <br/>
            <input type="text" name="pass" value="" placeholder="Confirmar contraseña"></input>
            <br/> <br/>
            <input type="submit" value="Registrarme"></input>
            <br/><br/>
            <a href="login">¿Ya tenés usuario? Inicia sesión</a>
          </fieldset>
        </form>
      </div>
      <div class="col-md-3 col-xs-1"></div>
    </div>
  </div>
</body>
