<nav class="navbar navbar-fixed-bottom" id="footer">
    <div class="container-fluid">
        <button type="button" class="btn btn-default btn-default-detev boton boton-detev"><span class='glyphicon glyphicon-detev glyphicon-arrow-left'></span></button>
    </div>
</nav>
